@charset "UTF-8";

body {
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1,h2{
	color: rgb(89, 126, 10);
}

h1{font-size:150%;}

h2{font-size:120%;}

/* p {border: 5px  ; 
	border-style: ridge;
	border-width:thin;
	border-radius: 1px;
	border-color: green;
	}
*/


#guarantee{
	background-color: #a7cece;
	border-color: white;
	border-width: 1px;
	border-style: dashed;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	margin-right:250px;
	background-image:url(../images/background.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

div#elixirs{
	float:right;
	border-width:thin;
	border-color: #007e7e;
	border-style: solid;
	width:200px;
	padding-right:20px;
	padding-bottom:20px;
	padding-left:20px;
	margin-left:20px;
	text-align: center;
	background-image: url(../images/cocktail.gif);
	background-repeat: repeat-x;
	
}

#elixirs h2{
	color:black;
}

#elixirs h3{
	color: #d12c47;
}

.cd{
	font-style:italic;
}

.artist{
	font-weight:bold;
}

a{
	text-decoration: none;
}

a:hover{
	color:red;
}

a:visited{
	color: #06ff06;
}

#footer{
	font-size: 85%;
	text-align: center;
	line-height: normal;
	margin-top: 30px;
}